<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quotes</title>
</head>
<body>
    <h1>Quotes</h1>
    <hr>
    <ul>
      <div class="row">
        <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>  
        <div>
        <button (click)='toggleDetails(i)' class="btn btn-primary">Show Details</button>
       <app-quote-detail *ngIf='goal.showDescription' [quote]='goal' (isComplete) = 'deleteGoal($event,i)'></app-quote-detail>
      </div>
    </div>
  </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
 
 

