<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./quote.component.css">
  <title>Goals</title>
</head>
<body>
  <div>
    <h1>My Goals</h1>
    <hr>
    <ul>
      <div *ngFor='let goal of goals;let i = index'>
        <li>{{goal.name}}</li>
        <button (click)='toggleDetails(i)' class="btn btn-primary">Show Details</button>
        <app-quote-detail *ngIf='goal.showDescription' [quote]='goal'></app-quote-detail>
      </div>
    </ul>
    <p *ngIf='goals.length > 5'>You have too many goals</p>
  </div>
</body>
</html>

