label{
  color: white;
  font-size: 18px;
  text-shadow: 1px black;
}
h2{
  color: white;
  text-shadow: 1px black;
}
.form-control{
   font-size: 18px;
   resize: none;
   background-color: rgba(255, 255, 255, 0.863);
 }
 hr{
   color: #000;
   border-style: solid;
   border-width: 1px;
 }
 .btn{
   margin-top: 0.1em;
 }
   